* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Futura', Arial, sans-serif;
    margin: 0;
    background-color: #FF4095;
}

h1, h2 {
    font-size: 4em;
    text-align: center;
    margin: 45px 0 15px 0;
    text-transform: uppercase;
}

.name {
    z-index: 100;
    font-size: 12em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 250px 0 150px 0;
    margin: 0;
}

/* Bron voor het startscherm van Freepik. 
https://www.freepik.com/free-vector/colorful-geometric-background_11905640.htm#&position=0&from_view=search&track=ais&uuid=0dd18d06-f414-4acf-b315-bbb14f84df83 */
.background_image {
    background: url(images/startscherm.svg) no-repeat center;
    background-size: cover;
    height: 70em;
    position: relative;
    margin: 0; 
    padding: 0;
    height: 100vh;
}

#start {
    position: absolute;
    width: 225px;
    height: 75px;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    background: #FF4095;
    border-radius: 150px;
    color: white;
    padding-top: 5px;
    margin-left: 42vw;
    border: 0;
    animation: bounce 1s ease-in-out infinite;
}

#start:hover {
    background: white;
    color: #FF4095;
}

#beurtveld {
    color: white;
}

.main_container {
    display: flex;
    width: 80vw;
    height: 75vh;
    align-items: center;
    margin: 5vh auto;
    background-color: white;
    text-align: center;
    justify-content: center;
    position: relative;
}

/* Bron: https://www.w3schools.com/css/css_grid.asp  */
.bord_container {
    display: grid;
    grid-template-columns: repeat(6,120px);
    margin: auto;
    position: relative;
    background-image: url(images/board.png);
    background-size: 745px 620px;
} 

.bord_container div {
    display: flex;
    width: 120px;
    height: 120px;
    padding: 0;
    color: white;
    font-family: 'Futura', Arial, sans-serif;
    border: 5px solid white;
    align-items: center;
    justify-content: center;
}

.dobbelsteen_container {
    text-align: center;
    padding-left: 65px;
}

.dobbelsteen_container img {
    width: 125px;
}

.kaart_container {
    padding-right: 50px;
}

.background {
    z-index: 0;
    width: 50vw;
    height: 50vh;
}

#dobbelsteen_knop, #kaartje_knop {
    background-color: #0d19759e;
    color: white;
    border-radius: 150px;
    text-align: center;
    border: 0;
    text-transform: uppercase;
    font-size: 1em;
    width: 250px;
    height: 50px;
    animation: bounce 1s ease-in-out infinite;
    animation-delay: 7s;
    margin-top: 30px;
}

#dobbelsteen_knop:hover, #kaartje_knop:hover {
    background-color: #08104D;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.huidigePositie1 {
    background: url(images/team_roze.png);
    background-size: cover;
    position: relative;
}

.huidigePositie2:after {
    background: url(images/team_geel.png);
    background-size: cover;
    content: " ";
    width: 100%;
    height: 100%;
    margin: -25px -10px -20px -25px;
}

#kaartje {
    position: absolute;
    display: none;
    height: 65vh;
    width: 80vw;
    background-color: white;
    opacity: 95%;
    top: 50%;
    left: 50%;
    padding-top: 100px;
    text-align: center;
    transform: translate(-50%, -50%);
    margin-top: 55px;
}

#woordenlijst {
    list-style-type: none;
    height: auto;
    text-transform: uppercase;
}

#timer {
    font-size: 3em;
    margin: 10px 0 50px 0;
}

.away {
    display: none;
}

#tekstveld {
    font-size: 8em;
    color: white;
    animation: bounce2 1s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 250px 0 300px 0;
}

@keyframes bounce2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0);
    }
}